.backgroundImg {
  background-image: url("../../assets/note-wallpaper.jpg");
  background-color: #cccccc;
}

.wrapper {
  text-align: center;
}

.buttonPositioned {
  display: inline-block;
  position: absolute;
  top: 50%;
}



