<mat-card class="demo-panel">
  <mat-toolbar class="matToolbarbtn backGroundGrey">
    <button (click)="showProjectNav()" class="buttonMargin" md-icon-button mdTooltip="Check me">
      <mat-icon>list</mat-icon>
    </button>
    <button (click)="toggleCreateNote = !toggleCreateNote" md-icon-button mdTooltip="Check me">
      <mat-icon>create</mat-icon>
    </button>
    <button (click)="delete()" md-icon-button mdTooltip="Check me">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-toolbar>
  <mat-card-content>
    <mat-sidenav-container *ngIf="shouldRun" class="example-container">
      <mat-sidenav #sidenav (closed)="events.push('close!')" (opened)="events.push('open!')" [(opened)]="opened" [autoFocus]="false"
                   class="example-sidenav"
                   mode="side"
                   opened style="background-color:#bbb;">
        <mat-nav-list class="listProject">
          <h3 matSubheader>Folders</h3>
          <mat-list-item (click)="onSelectFolder(folder)"
                         (click)="openFolder(folder)"
                         (click)="setType('folder')"
                         *ngFor="let folder of folders | sort:'name'"
                         [ngClass]="{deepblue: selectedFolderId === folder.id}">
            <mat-icon matListIcon>folder</mat-icon>
            <p class="paddingZero ellipsis" mat-button>{{ folder.name }}</p>
          </mat-list-item>
          <mat-list-item [hidden]="toggleCreateFolder">
            <input class="customInputFixedWidth" (keyup)="onKey($event)" [(ngModel)]="newFolderName" type="text"/>
          </mat-list-item>
        </mat-nav-list>
        <div class="createFolder">
          <mat-list-item (click)="toggleCreateFolder = !toggleCreateFolder" mat-button>
            <mat-icon inline=true>create_new_folder</mat-icon>
            Add folder
          </mat-list-item>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="row fixedHeight">
          <div class="column1" style="background-color:#aaa;">
            <mat-nav-list>
              <h3 matSubheader>Notes</h3>
              <mat-list-item (click)="onSelectNote(note)" (click)="setContent(note)"
                             (click)="setType('note')"
                             *ngFor="let note of listNote | sort:'lastModifiedDate'"
                             [ngClass]="{reoranged: selectedNoteId === note.id}">
                <mat-icon matListIcon>note</mat-icon>
                <a class="ellipsis" matLine>{{ note.data }}</a>
                <p class="demo-2" matLine> {{note.lastModifiedDate}} </p>
                <mat-divider></mat-divider>
              </mat-list-item>
              <mat-list-item [hidden]="toggleCreateNote">
                <input class="customInputFixedWidth" (keyup)="onTodoCreate($event)" [(ngModel)]="newTodoName" type="text"/>
              </mat-list-item>
            </mat-nav-list>
          </div>
          <div class="column" style="background-color:#bbb;">
            <p style="text-align: center; color: #555555">{{lastModifiedDate}}</p>
            <textarea [(ngModel)]="content" class="columnFull" style="background-color:#bbb;"></textarea>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-card-content>
</mat-card>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
